<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between items-center">
    {{ range .Site.Params.sponsor_logos }}
    <a class="f4 fw4 hover-white-70 no-underline {{ .Site.Params.color_class | default "light-silver" }} dn dib-ns pv2 ph3" href="{{ .url }}" title="{{ .name }}">
        <img src="{{ relURL .logo }}" class="w-100 mw5-ns" alt="{{ .name }}" />
    </a>
    {{ end }}

  <a class="f4 fw4 hover-white-70 no-underline {{ .Site.Params.color_class | default "light-silver" }} dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>