<figure class="bg-white pa0 w-100 mw6-m w-40-l mh3-ns mv3 mh0 ma0 {{ with .Get "class" }}{{ . }}{{ end }}"{{- if .Get "id" -}} id="{{ .Get "id"}}"{{- end -}}>
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end -}}
  <img class="mw-100"
       {{- with $.Get "src" }}
       {{- with $i := $.Page.Resources.Get . }}
       {{- with $i.Fit "600x600" -}}

       src="{{ .RelPermalink }}"  {{- end -}}{{- end -}}{{- end -}}
       {{- if (.Get "alt")  }}
         alt="{{ with .Get "alt" }}{{ . }}{{ end }}"
         {{- end -}}
    /><!-- Closing img tag -->
    
    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption class="ph4 pv2 lh-copy"><p>
            {{ with (.Get "title") -}}
                <span class="dib f2 fw6 lh-solid pr3">{{ . }}</span> {{ end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}
            {{- end }}
            </p>
        </figcaption>
    {{- end }}
</figure>
